
div#selectedChallengeInfo span#midas_challenge_competitor_selectedChallengeName{
  padding-left: 5px;
  font-weight: bold;
  font-size: 14px;
}

div#selectedChallengeInfo span#midas_challenge_competitor_selectedChallengeDesc{
  padding-left: 10px;
}

span#validateResultsFolder_Pass{
  font-weight: bold;
  color: #009900;
}

span#validateOutputFolder_Pass{
  font-weight: bold;
  color: #009900;
}


span#validateResultsFolder_Error{
  font-weight: bold;
  color: #C80000;
}

span#validateOutputFolder_Fail{
  font-weight: bold;
  color: #C80000;
}

table.validation{
  border: 1px solid black!important; 
  width: 80%!important;
  border-collapse: collapse!important;
}

table.validation th{
  text-align: center;
  border: 1px solid black;
}

table.validation td{
  text-align: center;
  border: 1px solid black;
}



