div.scoreHeading {
  display: block;
  -webkit-margin-before: 20px;
  -webkit-margin-after: 5px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  color: #080808;
	font-size: 16px;
	background-color: white;
  cursor: pointer;
}

div#midas_challenge_competitor_listScoreStatus {
  font-weight: normal;
  padding-left: 10px;
	font-size: 12px;
}

div.scoreHeading:hover{
  background-color: #e5e5e5;
}

div.scoreContent{
}

th.scorecol {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    padding-right: 12px!important;
}

div#showscores {
}

td.midasChallengeError {
    background-color: #FC8D62!important;
}

td.midasChallengeWaiting {
    background-color: #8DA0CB!important;
}

td.midasChallengeQueued {
    background-color: #8DA0CB!important;
}

td.midasChallengeRunning {
    background-color: #66C2A5!important;
}

td.midasChallengeError:hover {
    background-color: #9BA5A2!important;
    cursor: pointer;
}

td.midasChallengeComplete:hover {
    background-color: #9BA5A2!important;
    cursor: pointer;
}

th.midasChallengeMetricCol:hover {
    background-color: #9BA5A2!important;
    cursor: pointer;
}

div#midasChallengeMetricName {
    text-align: center;
    font-size: 14px;
}

a.github {
    background: url(../../images/octocat24.png) center left no-repeat;
    padding: 10px 0px 10px 25px;
}

a.wikipedia {
    background: url(../../images/wikipedia24.png) center left no-repeat;
    padding: 10px 0px 10px 25px;
}



div.resultsComplete {
    margin: 10px 0;
    padding: 10px 15px;
    background: #E6F1f6;
    border: #C5D5DD 1px solid;
    border-radius: 4 px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
}

div.resultsProcessing {
    margin: 10px 0;
    padding: 10px 15px;
    background: #E5F5EF;
    border: #AEE0CE 1px solid;
    border-radius: 4 px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
}


.scoreAboutStyle {
    	max-width: 805px;
	min-width: 0px;
        background-color: #4A4A4A!important;
}