div.scoreHeading {
  display: block;
  -webkit-margin-before: 20px;
  -webkit-margin-after: 5px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  color: #080808;
	font-size: 16px;
	background-color: white;
  cursor: pointer;
}

div#midas_challenge_competitor_listScoreStatus {
  font-weight: normal;
  padding-left: 10px;
	font-size: 12px;
}

div.scoreHeading:hover{
  background-color: #e5e5e5;
}

div.scoreContent{
}

th.scorecol {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    padding-right: 12px!important;
}

div#showscores {
}
