div.dashboardHeading {
  display: block;
  -webkit-margin-before: 20px;
  -webkit-margin-after: 5px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  color: #080808;
	font-size: 16px;
	background-color: white;
  cursor: pointer;
}

div.dashboardHeading:hover{
  background-color: #e5e5e5;
}

div.dashboardContent{
}

.dashboardAboutStyle {
    	max-width: 570px;
	min-width: 0px;
        background-color: #4A4A4A!important;
}

a.scoreboardDetails {
    background: url(../../images/information_16.png) center left no-repeat;/* */
    padding: 5px 5px 5px 18px;
    margin: 5px 0px 5px 420px;
    border: #FFFFFF 1px solid;
        border-radius: 4 px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    color: #686FCF!important;
}

a.scoreboardDetails:hover {
    color: #333BA0!important;
    background: url(../../images/information_16.png)  #9BA5A2  center left no-repeat;
    border: #C5D5DD 1px solid;
    border-radius: 4 px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
}

td.firstRank {
    background-color: #99FF66!important;
}

td.secondRank {
    background-color: #FFCC33!important;
}

td.firstOverallRank {
    background-color: #33CC00!important;
}

td.secondOverallRank {
    background-color: #DD6600!important;
}


