div.scoreHeading {
  display: block;
  -webkit-margin-before: 20px;
  -webkit-margin-after: 5px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  color: #080808;
	font-size: 16px;
	background-color: white;
  cursor: pointer;
}

div#midas_challenge_competitor_listScoreStatus {
  font-weight: normal;
  padding-left: 10px;
	font-size: 12px;
}

div.scoreHeading:hover{
  background-color: #e5e5e5;
}

div.scoreContent{
}

th.scorecol {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    padding-right: 12px!important;
}

div#showscores {
}

td.midasChallengeError {
    background-color: #FC8D62!important;
}

td.midasChallengeWaiting {
    background-color: #8DA0CB!important;
}

td.midasChallengeQueued {
    background-color: #8DA0CB!important;
}

td.midasChallengeRunning {
    background-color: #66C2A5!important;
}

td.midasChallengeError:hover {
    background-color: #9BA5A2!important;
    cursor: pointer;
}

td.midasChallengeComplete:hover {
    background-color: #9BA5A2!important;
    cursor: pointer;
}
