form#createChallengeForm label{
  width: 100px !important;
}

form#createChallengeForm div.radioElement label{
  float: inherit!important;
  width: 400px!important;
}

form#createChallengeForm div.radioElement ul{
  list-style: none;
  margin: 0px 0px 0px 100px;
  padding: 0px 0px 0px 0px;
  width: 300px!important;
}
form#createChallengeForm div.radioElement br{
  display:none;
}
form#createChallengeForm div.radioElement h4{
  margin-bottom: 4px;
}



