div.HeaderAction ul li.processButton{
  background-color: #578dbb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#578dbb), to(#325372));
  background-image: -moz-linear-gradient(center top, #578dbb 0%, #325372 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#578dbb', endColorstr='#325372');
  font-size: 14px;
  font-weight: bold;
}

div.HeaderAction ul li.processButton:hover{
  background-color: #5b7ad2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5b7ad2), to(#42779d));
  background-image: -moz-linear-gradient(center top, #5b7ad2 0%, #42779d 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b7ad2', endColorstr='#42779d');
}



.buttonScoreSubmissionDisabled {
  display:block;
  margin:5px 10px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 14px Verdana, Arial, Helvetica, sans-serif;
  width:150px;
  color:white!important;
  font-weight: bold!important;
  outline-style:none;
  background-color:   lightgray;
  border: 1px solid lightgray;
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
 /* color:#F8F8F8  !important;
  background-color: #CCCCCC !important;
  border: 1px solid #CCCCCC  !important;
  cursor:text;*/
}
.buttonScoreSubmission {
  display:block;
  margin:5px 10px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 14px Verdana, Arial, Helvetica, sans-serif;
  width:150px;
  color:white!important;
  font-weight: bold!important;
  outline-style:none;
  background-color:   #5A5655;
  border: #354856 1px solid;
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
}

#generatingJobs {
    float:right;
    margin-top: -20px;
    display: none;
}

